services:
  carcatalogapi:
    image: ${DOCKER_REGISTRY-}carcatalogapi
    build:
      context: .
      dockerfile: CarCatalogApi/Dockerfile
    depends_on:
      - carcatalogsqldata
      - authapi 

  carcatalogsqldata:
    image: mcr.microsoft.com/mssql/server:latest
    environment:
      - SA_PASSWORD=EF((6(<s6hj0
      - ACCEPT_EULA=Y
    ports:
      - "5433:1433"
    healthcheck:
       test: ["CMD-SHELL", "sqlcmd -S localhost -U sa -P EF((6(<s6hj0 -Q 'SELECT 1'"]
       interval: 10s
       timeout: 5s
       retries: 5

  authsqldata:
    image: mcr.microsoft.com/mssql/server:latest
    environment:
      - SA_PASSWORD=EF((6(<s6hj0
      - ACCEPT_EULA=Y
    ports:
      - "5434:1433"
    healthcheck:
       test: ["CMD-SHELL", "sqlcmd -S localhost -U sa -P EF((6(<s6hj0 -Q 'SELECT 1'"]
       interval: 10s
       timeout: 5s
       retries: 5

  authapi:
    image: ${DOCKER_REGISTRY-}authapi
    build:
      context: .
      dockerfile: AuthApi/Dockerfile
    depends_on:
      - authsqldata

  reviewsqldata:
    image: mcr.microsoft.com/mssql/server:latest
    environment:
      - SA_PASSWORD=EF((6(<s6hj0
      - ACCEPT_EULA=Y
    ports:
      - "5435:1433"
    healthcheck:
       test: ["CMD-SHELL", "sqlcmd -S localhost -U sa -P EF((6(<s6hj0 -Q 'SELECT 1'"]
       interval: 10s
       timeout: 5s
       retries: 5


  reviewapi:
    image: ${DOCKER_REGISTRY-}reviewapi
    build:
      context: .
      dockerfile: ReviewApi/Dockerfile
    depends_on:
      - reviewsqldata
      - authapi 


  efficiencyapi:
    image: ${DOCKER_REGISTRY-}efficiencyapi
    build:
      context: .
      dockerfile: EfficiencyApi/Dockerfile
    depends_on:
      - authapi 


  ordersqldata:
    image: mcr.microsoft.com/mssql/server:latest
    environment:
      - SA_PASSWORD=EF((6(<s6hj0
      - ACCEPT_EULA=Y
    ports:
      - "5436:1433"
    healthcheck:
       test: ["CMD-SHELL", "sqlcmd -S localhost -U sa -P EF((6(<s6hj0 -Q 'SELECT 1'"]
       interval: 10s
       timeout: 5s
       retries: 5

  orderapi:
    image: ${DOCKER_REGISTRY-}orderapi
    build:
      context: .
      dockerfile: OrderApi/OrderApi/Dockerfile
    depends_on:
     - ordersqldata
     - authapi

  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5673:5672" # Default RabbitMQ port for messaging
      - "15672:15672" # Management console
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: ["CMD-SHELL", "rabbitmqctl status"]
      interval: 10s
      timeout: 5s
      retries: 5

